@charset "utf-8";
/* CSS Document */

:root {
    --wave-color:#F7BED2;
}

/* ------------------------- Reset : Start ------------------------- */
html {font-size:0;}
html,body {width:100%;height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {padding:0;margin:0;}
fieldset,img {border:none;}
dl,ul,ol,menu,li {list-style:none;}
blockquote, q {quotes:none;}
blockquote::before, blockquote::after,q::before, q::after {content:'';content:none;}
input,select,textarea,button {vertical-align:middle;}
input, input:focus, button:focus, textarea:focus {outline:none;}
button {border:0 none;background-color:transparent;cursor:pointer;}
body {overflow-x:hidden;position:relative;background:#fff;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
body,th,td,input,select,textarea,button,pre {font-weight:700;line-height:1;font-family:'NanumSquareNeo', 'MalgunGothic', sans-serif;letter-spacing:0;}
a {text-decoration:none;cursor:pointer;color:#a3a4a6;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:700;}
.clear {clear:both;}
figure {line-height:0;}
img {max-width:100%;vertical-align:top;}
strong, b, em {font-weight:700;}
table {border-collapse:collapse;}
button:disabled {opacity:0.6;cursor:default;}
button:disabled .ico {opacity:0.6;}
br {font-family:'Dotum';}

/* MediaQuery : Start */
@media screen and (max-width:1920px) {
    body {
        overflow-x:auto;
        min-width:1887px;
    }
}
/* MediaQuery : End */


/* Antd : Start */
[class^="ant-"],
[class^="ant-"] * {
    font-family:'NanumSquareNeo', 'MalgunGothic', sans-serif;
}
/* Antd : End */
/* ------------------------- Reset : End ------------------------- */



/* ------------------------- Clearfix : Start ------------------------- */

.clearfix::after {
    /* Firefox, IE8, Opera, Safari, etc. */
    content:".";
    display:block;
    height:0;
    font-size:0;
    clear:both;
    visibility:hidden;
}
* + html .clearfix {
    /* for IE7 */
    display:inline-block;
}
* html .clearfix {
    /* for IE6 */
    height:1%;
}

/* ------------------------- Clearfix : End ------------------------- */





/* ------------------------- Common : Start ------------------------- */
*,
*::before,
*::after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}


.ant-wave {
    color:var(--wave-color,#F7BED2);
}


.table {
    display:table;
}
.table-row {
    display:table-row;
}
.table-cell {
    display:table-cell;
}
.show,
.block {
    display:block !important;
}
.inline {
    display:inline !important;
}
.inline-block {
    display:inline-block !important;
}
.hide,
.none {
    display:none !important;
}
/* ------------------------- Common : End ------------------------- */





/* ------------------------- Ico : Start ------------------------- */
.ico {
    display:inline-block;
    width:16px;
    height:16px;
    vertical-align:middle;
}

/* Ico-Modify : Start */
.ico-modify {
    background:url(../images/ico-btn-modify-12px.svg) no-repeat center;
}
/* Ico-Modify : End */


/* Ico-Add : Start */
.ico-add {
    background:url(../images/ico-btn-add-16px.svg) no-repeat center;
}
/* Ico-Add : End */


/* Ico-Delete : Start */
.ico-delete {
    background:url(../images/ico-btn-delete-16px.svg) no-repeat center;
}
/* Ico-Delete : End */
/* ------------------------- Ico : End ------------------------- */





/* ------------------------- Typo : Start ------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight:700;
}
.fz-64,
.fz-48,
.fz-40,
.fz-36,
.fz-32,
.fz-30,
.fz-28,
.fz-26,
.fz-24,
.fz-20,
.fz-19,
.fz-18,
.fz-17,
.fz-16,
.fz-15,
.fz-14,
.fz-13,
.fz-12,
.fz-11,
.fz-10,
.txt-link,
.txt-positive,
.txt-negative,
.txt-end,
.txt-delete {
    vertical-align:middle;
    word-break:break-all;
}
span.fz-64,
span.fz-48,
span.fz-40,
span.fz-36,
span.fz-32,
span.fz-30,
span.fz-28,
span.fz-26,
span.fz-24,
span.fz-20,
span.fz-19,
span.fz-18,
span.fz-17,
span.fz-16,
span.fz-15,
span.fz-14,
span.fz-13,
span.fz-12,
span.fz-11,
span.fz-10,
span.txt-link,
span.txt-positive,
span.txt-negative,
span.txt-end,
span.txt-delete {
    display:inline-block;
}


.fz-64 {
    font-size:64px;
}
.fz-48 {
    font-size:48px;
}
.fz-40 {
    font-size:40px;
}
.fz-36 {
    font-size:36px;
}
.fz-32 {
    font-size:32px;
}
.fz-30 {
    font-size:30px;
}
.fz-28 {
    font-size:28px;
}
.fz-26 {
    font-size:26px;
}
.fz-24 {
    font-size:24px;
}
.fz-20 {
    font-size:20px;
}
.fz-19 {
    font-size:19px;
}
.fz-18 {
    font-size:18px;
}
.fz-17 {
    font-size:17px;
}
.fz-16 {
    font-size:16px;
}
.fz-15 {
    font-size:15px;
}
.fz-14 {
    font-size:14px;
}
.fz-13 {
    font-size:13px;
}
.fz-12 {
    font-size:12px;
}
.fz-11 {
    font-size:11px;
}
.fz-10 {
    font-size:10px;
}




.fc-0 {
    color:#fff;
}

.fc-gray-50 {
    color:#EEEEEE;
}
.fc-gray-100 {
    color:#DCDCDC;
}
.fc-gray-200 {
    color:#B9B9B9;
}
.fc-gray-300 {
    color:#959595;
}
.fc-gray-400 {
    color:#727272;
}
.fc-gray-500 {
    color:#4F4F4F;
}
.fc-gray-600 {
    color:#3B3B3B;
}
.fc-gray-700 {
    color:#282828;
}
.fc-gray-800 {
    color:#141414;
}
.fc-gray-900 {
    color:#080808;
}


.fc-pink-50 {
    color:#FDEFF4;
}
.fc-pink-100 {
    color:#FBDFE9;
}
.fc-pink-200 {
    color:#F7BED2;
}
.fc-pink-300 {
    color:#F29EBC;
}
.fc-pink-400 {
    color:#EE7DA5;
}
.fc-pink-500 {
    color:#EA5D8F;
}
.fc-pink-600 {
    color:#B0466B;
}
.fc-pink-700 {
    color:#752F48;
}
.fc-pink-800 {
    color:#3B1724;
}
.fc-pink-900 {
    color:#17090E;
}




.fw-lig {
    font-weight:300;
}
.fw-reg {
    font-weight:400;
}
.fw-bold {
    font-weight:700;
}
.fw-exbold {
    font-weight:800;
}
.fw-heavy {
    font-weight:900;
}

/* ------------------------- Typo : End ------------------------- */






/* ------------------------- Antd : Input : Start ------------------------- */
.ant-input {
    height:40px;
    padding:8px 16px;
    border-color:#E9E9E9;
    line-height:24px;
    border-radius:4px;
    color:#4F4F4F;
}
.ant-input::placeholder {
    color:#B9B9B9;
}
.ant-input:hover {
    border-color:#EA5D8F;
}
.ant-input:focus,
.ant-input-focused {
    border-color:#EA5D8F;
    box-shadow:0 0 0 2px rgb(234 93 143 / 10%);
}



/* Ico + Input : Start */
.ant-input-affix-wrapper {
    border:1px solid #e9e9e9;
}
.ant-input-affix-wrapper-lg {
    height:56px;
    padding:0 20px 0 20px;
    font-size:16px;
    line-height:24px;
    border-radius:4px;
}
.ant-input-affix-wrapper .ant-input-prefix {
    margin-inline-end:12px;
}
.ant-input-affix-wrapper.ant-input-affix-wrapper-lg > input.ant-input {
    height:54px;
}
.ant-input-affix-wrapper:hover {
    border-color:#EA5D8F;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color:#EA5D8F;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    border-color:#EA5D8F;
    box-shadow:0 0 0 2px rgb(234 93 143 / 10%);
    outline:0;
}
/* Ico + Input : End */
/* ------------------------- Antd : Input : End ------------------------- */





/* ------------------------- Antd : InputNumber : Start ------------------------- */
.ant-input-number {
    height:40px;
    border:1px solid #e9e9e9;
    border-radius:4px;
}
.ant-input-number .ant-input-number-input {
    height:38px;
    padding:0 16px;
    border-radius:4px;
    vertical-align:middle;
    color:#4F4F4F;
}
.ant-input-number .ant-input-number-input::placeholder {
    color:#B9B9B9;
}
.ant-input-number:hover {
    border-color:#EA5D8F;
}
.ant-input-number:focus,
.ant-input-number-focused {
    border-color:#EA5D8F;
    box-shadow:0 0 0 2px rgb(234 93 143 / 10%);
}
.ant-input-number .ant-input-number-handler:hover .ant-input-number-handler-up-inner,
.ant-input-number .ant-input-number-handler:hover .ant-input-number-handler-down-inner {
    color:#EA5D8F;

}
/* ------------------------- Antd : InputNumber : End ------------------------- */





/* ------------------------- Antd : Button : Start ------------------------- */
.ant-btn {
    height:40px;
    padding:8px 24px;
    font-size:14px;
    font-weight:700;
    line-height:24px;
    border-radius:4px;
}
.ant-btn .ico {
    margin-right:4px;
}
.ant-btn-icon-only .ico {
    margin-right:0;
}
.ant-btn:active::before {
    content:'';
    display:inline-block;
    position:absolute;
    top:-1px;
    left:-1px;
    right:-1px;
    bottom:-1px;
    border-radius:4px;
}
.ant-input-number ~ .ant-btn,
.ant-input ~ .ant-btn,
.ant-btn ~ .ant-btn,
.ant-btn ~ .btn  {
    margin-left:8px;
}



.ant-btn.ant-btn-sm {
    padding:0px 8px;
    font-size:12px;
    line-height:16px;
}
.ant-btn.ant-btn-lg {
    height:48px;
    padding:0 32px;
    font-size:16px;
    border-radius:4px;
}



.ant-btn-default.pink {
    border-color:#DCDCDC;
    background-color:#ffffff;
    box-shadow:none;
    color:#EA5D8F;
}
.ant-btn-default.pink:not(:disabled):hover {
    border-color:#F7BED2;
    color:#EA5D8F;
}
.ant-btn-default.pink:not(:disabled):active {
    border-color:#F7BED2;
    color:#EA5D8F;
}
.ant-btn-default.pink:not(:disabled):active::before {
    border:2px solid #F7BED2;
}



.ant-btn-default.gray {
    border-color:#DCDCDC;
    background-color:#ffffff;
    box-shadow:none;
    color:#727272;
}
.ant-btn-default.gray:not(:disabled):hover {
    border-color:#B9B9B9;
    color:#727272;
}
.ant-btn-default.gray:not(:disabled):active {
    border-color:#B9B9B9;
    color:#727272;
}
.ant-btn-default.gray:not(:disabled):active::before {
    border:2px solid #B9B9B9;
}



.ant-btn-primary.pink {
    background-color:#FDEFF4;
    box-shadow:none;
    color:#EA5D8F;
}
.ant-btn-primary.pink:disabled {
    border:none;
}
.ant-btn-primary.pink:not(:disabled):hover {
    background-color:#FBDFE9;
    color:#EA5D8F;
}
.ant-btn-primary.pink:not(:disabled):active {
    background-color:#FBDFE9;
}
.ant-btn-primary.pink:not(:disabled):active::before {
    border:2px solid #F29EBC;
}



.ant-btn-primary.gray {
    background-color:#EEEEEE;
    box-shadow:none;
    color:#727272;
}
.ant-btn-primary.gray:disabled {
    border:none;
}
.ant-btn-primary.gray:not(:disabled):hover {
    background-color:#DCDCDC;
    color:#727272;
}
.ant-btn-primary.gray:not(:disabled):active {
    background-color:#DCDCDC;
    color:#727272;
}
.ant-btn-primary.gray:not(:disabled):active::before {
    border:2px solid #B9B9B9;
}
/* ------------------------- Antd : Button : End ------------------------- */






/* ------------------------- Antd : Checebox : Start ------------------------- */
.ant-checkbox-wrapper {
    min-height:40px;
    color:#727272;
}
.ant-checkbox + span {
    line-height:40px;
}
.ant-checkbox-checked .ant-checkbox-inner {
    border-color:#EA5D8F;
    background-color:#EA5D8F;
}


/* Check Icon : Start */
.ant-checkbox .ant-checkbox-inner:after {
    margin-top:-1px;
}
/* Check Icon : End */



/* Check Box : Start */
.ant-checkbox-checked:after {
    border:2px solid #EA5D8F;
}
/* Check Box : End */



/* Check Text : Start */
.ant-checkbox-checked + span {
    color:#4F4F4F;
}
/* Check Text : End */



.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner {
    background-color:#EA5D8F;
}
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner,
.ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner,
.ant-checkbox-wrapper-checked:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox:after,
.ant-checkbox-checked:not(.ant-checkbox-disabled):hover .ant-checkbox:after,
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled):after {
    border-color:#EA5D8F;
}


/* Indeterminate : Start */
.ant-checkbox-indeterminate .ant-checkbox-inner:after {
    margin-top:0;
    background-color:#EA5D8F;
    border-radius:2px;
}
/* Indeterminate : End */

/* ------------------------- Antd : Checebox : End ------------------------- */





/* ------------------------- Antd : Radio : Start ------------------------- */
.ant-radio-wrapper {
    min-height:40px;
}
.ant-radio-wrapper .ant-radio-inner {
    border-color:#B9B9B9;
}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color:#EA5D8F;
    background-color:#EA5D8F;
}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after {
    transform:scale(0.45);
}
.ant-radio-wrapper:hover .ant-radio-wrapper,
.ant-radio-wrapper:hover .ant-radio-inner {
    border-color:#EA5D8F;
}
.ant-radio-wrapper span.ant-radio + span {
    line-height:40px;
    vertical-align:middle;
}
/* ------------------------- Antd : Radio : End ------------------------- */





/* ------------------------- Antd : Switch : Start ------------------------- */
.ant-switch {
    margin:12px 8px !important;
    background:none;
}
.ant-switch.ant-switch-small {
    height:16px;
    min-width:30px;
}
.ant-switch.ant-switch-checked,
.ant-switch:hover:not(.ant-switch-disabled),
.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background:none;
}
.ant-switch .ant-switch-handle {
    width:12px;
    height:12px;
}
.ant-switch .ant-switch-inner {
    height:16px;
    background:#B9B9B9;
}
.ant-switch-checked .ant-switch-inner {
    height:16px;
    background:#EA5D8F;
}
/* ------------------------- Antd : Switch : End ------------------------- */





/* ------------------------- Antd : Select : Start ------------------------- */
.ant-select {
    vertical-align:middle;
}
.ant-select .ant-select-arrow svg {
    display:none;
}
.ant-select .ant-select-selection-placeholder {
    color:#B9B9B9;
}
.ant-select-single .ant-select-selector {
    border:1px solid #e9e9e9;
    font-size:14px;
    line-height:24px;
    border-radius:4px;
    color:#4F4F4F;
}
.ant-select .ant-select-selection-item {
    font-weight:700;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height:40px;
    padding:8px 16px;
    border:1px solid #e9e9e9;
}
.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height:24px;
}
.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color:#EA5D8F;
}
.ant-select .ant-select-arrow {
    top:0;
    width:40px;
    height:40px;
    margin-top:0;
    background:url(../images/ico-sb-arrow-down-16px.svg) no-repeat center;
    inset-inline-end:0;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height:38px;
}
.ant-select-single .ant-select-selector .ant-select-selection-search {
    inset-inline-start:16px;
    inset-inline-end:16px;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    padding-inline-end:32px;
}
.ant-select-focused.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color:#EA5D8F;
    box-shadow:0 0 0 2px rgba(234,93,143,.1);
}
.ant-select-single.ant-select-open .ant-select-selection-item {
    color:#4F4F4F;
}
.ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color:#FDEFF4;
    color:#EA5D8F;
}
.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    font-weight:700;
    background-color:transparent;
    color:#EA5D8F;
}



/* Dropdown : Start */
.ant-select-dropdown {
    padding:8px 0;
    border:1px solid #E9E9E9;
    font-size:14px;
    line-height:24px;
    border-radius:4px;
    color:#959595;
}
.ant-select-dropdown .ant-select-item {
    min-height:40px;
    padding:8px 16px;
    font-size:14px;
    font-weight:700;
    line-height:24px;
    border-radius:0;
    color:#959595;
}
/* Dropdown : End */



/* Disabled : Start */
.ant-select-dropdown .ant-select-item-option-disabled {
    background:#f3f3f3;
    color:rgba(149, 149, 149, 0.6);
}
.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background:#fff;
}
.ant-select-disabled .ant-select-arrow {
    opacity:0.4;
}
/* Disabled : End */

/* ------------------------- Antd : Select : End ------------------------- */






/* ------------------------- Antd : Upload : Start ------------------------- */
.ant-upload-wrapper {
    display:block;
}
.ant-upload-wrapper .ant-upload-list .ant-upload-list-item {
    height:24px;
    margin-top:16px;
}
.ant-upload-wrapper .ant-upload-list:empty {
    display:none;
}
.ant-upload-wrapper .ant-upload-list {
    display:block;
}


/* Antd : Upload - FileList - Progress : Start */
.ant-progress .ant-progress-success-bg,
.ant-progress .ant-progress-bg {
    background-color:#EA5D8F;
}
/* Antd : Upload - FileList - Progress : End */

/* ------------------------- Antd : Upload : End ------------------------- */





/* ------------------------- Antd : DatePicker : Start ------------------------- */
.ant-picker {
    height:40px;
    padding:8px 16px;
    border:1px solid #e9e9e9;
    border-radius:4px;
}
.ant-picker:hover,
.ant-picker-focused {
    border-color:#EA5D8F;
}
.ant-picker .ant-picker-input,
.ant-picker .ant-picker-input > input {
    width:100px;
}
.ant-picker .ant-picker-input > input::placeholder {
    color:#b9b9b9;
}
.ant-picker-focused {
    border-color:#EA5D8F;
    box-shadow:0 0 0 2px rgb(234 93 143 / 10%);
}
.ant-picker-range {
    width:320px;
}
.ant-picker-range .ant-picker-range-separator {
    padding:0 16px 0 8px;
}
.ant-picker-range .ant-picker-active-bar {
    background:#EA5D8F;
}



/* Calendar, Delete Btn -- Icon : Start */
.ant-picker .ant-picker-suffix {
    position:absolute;
    right:16px;
}
.ant-picker .ant-picker-suffix .anticon-calendar {
    width:16px;
    height:16px;
    background:url(../images/ico-calendar-16px.svg) no-repeat;
}
.ant-picker .ant-picker-suffix .anticon-calendar svg {
    display:none;
}
.ant-picker-dropdown .ant-picker-header-view button:hover {
    color:#EA5D8F;
}
.ant-picker-range .ant-picker-clear {
    inset-inline-end:41px;
}
/* Calendar, Delete Btn -- Icon : End */




.ant-picker-dropdown .ant-picker-decade-panel,
.ant-picker-dropdown .ant-picker-year-panel,
.ant-picker-dropdown .ant-picker-quarter-panel,
.ant-picker-dropdown .ant-picker-month-panel,
.ant-picker-dropdown .ant-picker-week-panel,
.ant-picker-dropdown .ant-picker-date-panel,
.ant-picker-dropdown .ant-picker-time-panel {
    width:300px;
}
.ant-picker-dropdown .ant-picker-header {
    align-items:center;
    border-bottom:none;
}
.ant-picker-dropdown .ant-picker-panel:first-child .ant-picker-header {
    padding:32px 16px 0 32px;
}
.ant-picker-dropdown .ant-picker-panel:last-child .ant-picker-header {
    padding:32px 32px 0 16px;
}
.ant-picker-dropdown .ant-picker-panel:last-child:only-child .ant-picker-header {
    padding:32px 32px 0 32px;
}



/* Calendar Nav : Start */
.ant-picker-dropdown .ant-picker-header .ant-picker-header-super-prev-btn,
.ant-picker-dropdown .ant-picker-header .ant-picker-header-prev-btn,
.ant-picker-dropdown .ant-picker-header .ant-picker-header-next-btn,
.ant-picker-dropdown .ant-picker-header .ant-picker-header-super-next-btn {
    width:24px;
    height:24px;
    padding:1px;
    border:1px solid #E9E9E9;
    line-height:24px;
    border-radius:4px;
}
.ant-picker-dropdown .ant-picker-header .ant-picker-header-prev-btn {
    margin-left:4px;
}
.ant-picker-dropdown .ant-picker-header .ant-picker-header-next-btn {
    margin-right:4px;
}
.ant-picker-dropdown .ant-picker-prev-icon::before,
.ant-picker-dropdown .ant-picker-next-icon::before,
.ant-picker-dropdown .ant-picker-super-prev-icon::before,
.ant-picker-dropdown .ant-picker-super-next-icon::before,
.ant-picker-dropdown .ant-picker-super-prev-icon::after,
.ant-picker-dropdown .ant-picker-super-next-icon::after {
    display:none;
}
.ant-picker-dropdown .ant-picker-prev-icon,
.ant-picker-dropdown .ant-picker-next-icon,
.ant-picker-dropdown .ant-picker-super-prev-icon,
.ant-picker-dropdown .ant-picker-super-next-icon {
    width:12px;
    height:12px;
    transform:none;
}
.ant-picker-dropdown .ant-picker-super-prev-icon {
    background:url(../images/ico-pagenation-btn-first-16px.svg) no-repeat center/12px;
}
.ant-picker-dropdown .ant-picker-prev-icon {
    background:url(../images/ico-pagenation-btn-prev-16px.svg) no-repeat center/12px;
}
.ant-picker-dropdown .ant-picker-next-icon {
    background:url(../images/ico-pagenation-btn-next-16px.svg) no-repeat center/12px;
}
.ant-picker-dropdown .ant-picker-super-next-icon {
    background:url(../images/ico-pagenation-btn-last-16px.svg) no-repeat center/12px;
}
.ant-picker-dropdown .ant-picker-panel:first-child .ant-picker-date-panel .ant-picker-body {
    padding:8px 16px 32px 32px;
}
.ant-picker-dropdown .ant-picker-panel:last-child .ant-picker-date-panel .ant-picker-body {
    padding:8px 32px 32px 16px;
}
/* Calendar Nav : End */



/* Calendar Cell : Start */
.ant-picker-dropdown .ant-picker-cell .ant-picker-cell-inner {
    min-width:36px;
    height:36px;
    font-weight:700;
    line-height:36px;
    border-radius:18px;
}
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border:none;
    border-radius:18px;
}
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    background:#FDEFF4;
    color:#4F4F4F;
}



.ant-picker-dropdown .ant-picker-content th,
.ant-picker-dropdown .ant-picker-content td {
    min-width:36px;
    font-size:11px;
    font-weight:700;
    color:#4F4F4F;
}
.ant-picker-dropdown .ant-picker-content th {
    height:36px;
    vertical-align:middle;
}
.ant-picker-dropdown .ant-picker-content th:first-child,
.ant-picker-dropdown .ant-picker-content td:first-child {
    color:#FC3F3F;
}
.ant-picker-dropdown .ant-picker-content th:last-child,
.ant-picker-dropdown .ant-picker-content td:last-child {
    color:#316BFF;
}



.ant-picker-dropdown .ant-picker-cell {
    opacity:0.3;
}
.ant-picker-dropdown .ant-picker-cell-in-view {
    opacity:1;
}



.ant-picker-dropdown .ant-picker-cell::before {
    height:36px;
}
.ant-picker-dropdown .ant-picker-month-panel .ant-picker-cell::before {
    display:none;
}
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range::before {
    background:#FDEFF4;
}
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
    background:#FDEFF4;
}
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single):not(.ant-picker-cell-range-end) .ant-picker-cell-inner {
    border-start-start-radius:18px;
    border-end-start-radius:18px;
}
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single):not(.ant-picker-cell-range-start) .ant-picker-cell-inner {
    border-start-end-radius:18px;
    border-end-end-radius:18px;
}
/* Calendar Cell : End */



/* Hover - Border Dashed : Start */
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start-single::after,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-end-near-hover::after,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-start-near-hover::after,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-end-single::after,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-in-range)::after {
    height:24px;
    border-top:1px dashed #EA5D8F;
    border-bottom:1px dashed #EA5D8F;
}
tr > .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover:first-child::after,
tr > .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:first-child::after,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-start.ant-picker-cell-range-hover-edge-start.ant-picker-cell-range-hover-edge-start-near-range::after,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-start:not(.ant-picker-cell-range-hover-edge-start-near-range)::after,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-start::after {
    border-inline-start:1px dashed #EA5D8F;
}
tr > .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover:last-child::after,
tr > .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:last-child::after,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-end.ant-picker-cell-range-hover-edge-end.ant-picker-cell-range-hover-edge-end-near-range::after,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-end:not(.ant-picker-cell-range-hover-edge-end-near-range)::after,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-end::after {
    border-inline-end:1px dashed #EA5D8F;
}
/* Hover - Border Dashed : End */



/* Hover - BG : Start */
.ant-picker-dropdown .ant-picker-date-panel .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start .ant-picker-cell-inner::after,
.ant-picker-dropdown .ant-picker-date-panel .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end .ant-picker-cell-inner::after {
    background:#FBDFE9;
}
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover::before,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start.ant-picker-cell-range-hover::before,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end.ant-picker-cell-range-hover::before,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single).ant-picker-cell-range-hover-start::before,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single).ant-picker-cell-range-hover-end::before,
.ant-picker-panel > :not(.ant-picker-date-panel) .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start::before,
.ant-picker-panel > :not(.ant-picker-date-panel) .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end::before {
    background:#FBDFE9;
}
/* Hover - BG : End */

/* ------------------------- Antd : DatePicker : End ------------------------- */





/* ------------------------- Antd : Tag : Start ------------------------- */
.ant-tag {
    padding:0 16px;
    font-size:14px;
    line-height:24px;
    border-radius:4px;
}
.ant-tag-blue {
    border:none;
    background:#EBF1FF;
    color:#316BFF;
}
.ant-tag-red {
    border:none;
    background:#FFECEC;
    color:#FC3F3F;
}
/* ------------------------- Antd : Tag : End ------------------------- */





/* ------------------------- Txt-State : Start ------------------------- */
.txt-state {
    display:inline-block;
    vertical-align:middle;
}
.txt-state.on .ico,
.txt-state.off .ico {
    display:inline-block;
    position:relative;
    width:16px;
    height:16px;
    padding:5px;
    margin-right:4px;
    background:none;
}
.txt-state.on .ico::before,
.txt-state.off .ico::before {
    content:'';
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:6px;
    height:6px;
    margin:auto;
    border-radius:50%;
}
.txt-state.on .ico::before {
    background:#F7BED2;
}
.txt-state.off .ico::before {
    background:#B9B9B9;
}
.txt-state.on span,
.txt-state.off span {
    font-size:14px;
    line-height:24px;
}
.txt-state.on span {
    color:#EA5D8F;
}
.txt-state.off span {
    color:#4F4F4F;
}
.txt-state.normal,
.txt-state.error {
    padding:0 16px;
    line-height:24px;
    border-radius:4px;
}
.txt-state.normal {
    background:#EBF1FF;
    color:#316BFF;
}
.txt-state.error {
    background:#FFECEC;
    color:#FC3F3F;
}
/* ------------------------- Txt-State : End ------------------------- */