@charset "utf-8";
/* CSS Document */


/* ------------------------- Antd : Table : Start ------------------------- */

.ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container {
    border-inline-start:1px solid #E9E9E9;
}
.ant-table-wrapper .ant-table-tbody > tr > td {
    border-bottom:1px solid #E9E9E9;
}
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table {
    border-top:1px solid #E9E9E9;
}
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > th,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr > th,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > thead > tr > th,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tbody > tr > td,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr > td,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tbody > tr > td,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > th,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > th,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > th,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tfoot > tr > th,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > td,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > td,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > td,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tfoot > tr > td {
    border-inline-end:1px solid #E9E9E9;
}
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr:not(:last-child) > th,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr:not(:last-child) > th,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr:not(:last-child) > th,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > thead > tr:not(:last-child) > th {
    border-bottom:1px solid #E9E9E9;
}
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th::before,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > th::before,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr > th::before,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > thead > tr > th::before {
    background-color:transparent !important;
}
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > thead > tr > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tbody > tr > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tbody > tr > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > .ant-table-cell-fix-right-first::after,
.ant-table-wrapper .ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tfoot > tr > .ant-table-cell-fix-right-first::after {
    border-inline-end:1px solid #E9E9E9;
}




.ant-table-wrapper .ant-table {
    border-radius:0;
    color:#4f4f4f;
}
.ant-table-wrapper .ant-table-container {
    border-start-start-radius:0;
    border-start-end-radius:0;
}
.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:last-child {
    border-start-end-radius:0;
}
.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:first-child {
    border-start-start-radius:0;
}



.ant-table-wrapper table {
    border-radius:0;
}

.ant-table-wrapper .ant-table-thead > tr > th {
    border-bottom:1px solid #E9E9E9;
    font-weight:700;
    background:#f5f5f5;
    color:#959595;
}

.ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-wrapper .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background:#fff9fb;
}
.ant-table-wrapper .ant-table-tbody > tr.ant-table-row-selected > td {
    background:#fff9fb;
}



/* Table Pagination : Start */
.ant-table-wrapper .ant-table-pagination.ant-pagination {
    margin:24px 0;
}
/* Table Pagination : Start */



/* Table Empty : Start */
.ant-empty-normal {
    margin-block-start:120px;
    margin-block-end:150px;
}


.ant-empty-normal .ant-empty-image {
    display:inline-block;
    width:160px;
    height:160px;
    background:url(../images/ico-empty-data-160px.svg) no-repeat;
}
.ant-empty-normal .ant-empty-image svg {
    display:none;
}
.ant-empty-normal .ant-empty-description {
    font-size:24px;
    font-weight:700;
    color:#4F4F4F;
}
/* Table Empty : End */



/* Table Row Checkbox : Start */
.ant-table .ant-checkbox-wrapper {
    min-height:auto;
}
.ant-table-wrapper table tr th.ant-table-selection-column,
.ant-table-wrapper table tr td.ant-table-selection-column {
    padding-inline-end:0;
    padding-inline-start:0;
}
/* Table Row Checkbox : End */
/* ------------------------- Antd : Table : End ------------------------- */





/* ------------------------- Antd : Pagination : Start ------------------------- */
.ant-pagination .ant-pagination-options {
    margin-inline-start:16px;
}
.ant-pagination .ant-pagination-item {
    min-width:40px;
    height:40px;
    margin-inline-end:8px;
    border:1px solid #e9e9e9;
    line-height:40px;
    background-color:#fff;
    border-radius:4px;
}
.ant-pagination .ant-pagination-prev,
.ant-pagination .ant-pagination-next,
.ant-pagination .ant-pagination-jump-prev,
.ant-pagination .ant-pagination-jump-next {
    min-width:40px;
    height:40px;
    line-height:40px;
    border-radius:4px;
    color:rgba(0, 0, 0, 0.88);
}
.ant-pagination .ant-pagination-item-active {
    border-color:#EA5D8F;
    font-weight:700;
    background-color:#ffffff;
}
.ant-pagination .ant-pagination-item-active a {
    color:#EA5D8F;
}
.ant-pagination .ant-pagination-item-active:hover {
    border-color:#EA5D8F;
}
.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover {
    background-color:#fff;
}
.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover a,
.ant-pagination .ant-pagination-item-active:hover a {
    color:#EA5D8F;
}
.ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
    font-size:14px;
    color:#EA5D8F;
}
.ant-pagination.ant-pagination-disabled .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination.ant-pagination-disabled .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
    opacity:0;
}
.ant-pagination .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination .ant-pagination-next .ant-pagination-item-link {
    border:1px solid #e9e9e9;
    background-color:#fff;
    border-radius:4px;
}
.ant-pagination .ant-pagination-item-link .anticon.anticon-left svg,
.ant-pagination .ant-pagination-item-link .anticon.anticon-right svg {
    display:none;
}
.ant-pagination .ant-pagination-item-link .anticon {
    width:16px;
    height:16px;
    vertical-align:middle;
}
.ant-pagination .ant-pagination-prev .ant-pagination-item-link .anticon {
    background:url(../images/ico-pagenation-btn-prev-16px.svg) no-repeat;
}
.ant-pagination .ant-pagination-next .ant-pagination-item-link .anticon {
    background:url(../images/ico-pagenation-btn-next-16px.svg) no-repeat;
}
.ant-pagination .ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination .ant-pagination-next:hover .ant-pagination-item-link {
    border:1px solid #b9b9b9;
    background-color:#fff;
}
.ant-pagination.ant-pagination-disabled .ant-pagination-item-active {
    border-color:#F7BED2;
    background-color:#fff;
}
.ant-pagination.ant-pagination-disabled .ant-pagination-item-active a {
    color:#F7BED2;
}
.ant-pagination .ant-pagination-prev:hover .ant-pagination-item-link:disabled,
.ant-pagination .ant-pagination-next:hover .ant-pagination-item-link:disabled {
    border:1px solid #e9e9e9;
    background-color:#fff;
}
.ant-pagination.ant-pagination-disabled .ant-pagination-item-active:hover {
    background:#fff;
}
.ant-pagination.ant-pagination-disabled .ant-pagination-item:not(.ant-pagination-item-active):hover a,
.ant-pagination.ant-pagination-disabled .ant-pagination-item-active:hover a {
    color:rgba(0, 0, 0, 0.25);
}
.ant-pagination .ant-pagination-jump-prev:hover .ant-pagination-item-ellipsis,
.ant-pagination .ant-pagination-jump-next:hover .ant-pagination-item-ellipsis {
    opacity:0;
}
.ant-pagination.ant-pagination-disabled .ant-pagination-jump-prev:hover .ant-pagination-item-ellipsis,
.ant-pagination.ant-pagination-disabled .ant-pagination-jump-next:hover .ant-pagination-item-ellipsis {
    opacity:1;
}
.ant-pagination.ant-pagination-disabled .ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination.ant-pagination-disabled .ant-pagination-next:hover .ant-pagination-item-link {
    border:1px solid #e9e9e9;
    background-color:#fff;
}



.ant-pagination .ant-pagination-total-text {
    display:inline-block;
    height:40px;
    margin-right:auto;
    line-height:40px;
    color:#4F4F4F;
}
/* ------------------------- Antd : Pagination : End ------------------------- */





/* ------------------------- Antd : Popover : Start ------------------------- */
.ant-popover-inner-content .ant-input {
    width:200px;
}
.ant-popover .ant-popover-inner {
    padding:8px;
    box-shadow:0px 0px 8px 0px rgb(0 0 0 / 24%);
}
/* ------------------------- Antd : Popover : End ------------------------- */





/* ------------------------- Antd : Modal : Start ------------------------- */
.ant-modal-root .ant-modal-mask {
    background-color:rgba(8, 8, 8, 0.2);
}
.ant-modal .ant-modal-content {
    padding:0;
}
.ant-modal .ant-modal-header {
    padding:40px 48px;
    margin-bottom:0;
}
.ant-modal .ant-modal-title {
    font-size:24px;
    font-weight:700;
    line-height:32px;
    color:#4F4F4F;
}
.ant-modal .ant-modal-close {
    top:40px;
    right:48px;
    width:32px;
    height:32px;
    background:url(../images/ico-dialog-btn-close-32px.svg) no-repeat;
}
.ant-modal .ant-modal-close:hover {
    background-color:transparent;
}
.ant-modal-close-icon svg {
    display:none;
}
.ant-modal .ant-modal-body {
    padding:0 48px 40px 48px;
}
.ant-modal .ant-modal-footer {
    padding:32px;
    margin-top:0;
    background:#FAFAFA;
    border-radius:0 0 8px 8px;
    text-align:center;
}




/* Confirm : Start */
.ant-modal[class~="ant-modal-confirm"] {
    width:500px !important;
    max-width:500px !important;
}
.ant-modal[class~="ant-modal-confirm"] .ant-modal-body {
    padding:0;
}
.ant-modal-confirm .ant-modal-confirm-body {
    justify-content:center;
}
.ant-modal-confirm .ant-modal-confirm-body > .anticon + .ant-modal-confirm-title {
    flex:none;
}
.ant-modal-confirm .ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
    margin-inline-start:0;
}
.ant-modal-confirm .ant-modal-confirm-body .ant-modal-confirm-title + .ant-modal-confirm-content {
    max-width:100%;
    margin-block-start:32px;
    text-align:center;
}
.ant-modal-confirm-body {
    padding:40px;
}
.ant-modal-confirm .ant-modal-confirm-btns {
    padding:32px 40px;
    margin-top:0;
    background:#FAFAFA;
    border-radius:0 0 8px 8px;
    text-align:center;
}
.ant-modal-confirm .ant-modal-confirm-body .ant-modal-confirm-title {
    font-size:24px;
    font-weight:700;
    color:#EA5D8F;
}
.ant-modal-confirm .ant-modal-confirm-body .ant-modal-confirm-content {
    font-size:15px;
    font-weight:700;
    color:#4F4F4F;
}
.ant-modal-confirm-warning .ant-modal-confirm-body > .anticon,
.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
    color:#EA5D8F;
}
.ant-modal-confirm-success .ant-modal-confirm-body > .anticon {
    color:#EA5D8F;
}
/* Confirm : End */
/* ------------------------- Antd : Modal : End ------------------------- */